@charset "UTF-8";
/* width: 600 , height: 600*/
html, body{
  overflow: hidden;
}

.findIdContainer{
  padding: 20px 20px 0;
  width: 500px;
  height: 500px;
  margin: 40px auto 0;
  border: 2px solid lightgrey;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}


.findIdContainer h1{
  font-weight: 400;
}
.findIdContainer p {
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.formWrapper input:not([type=submit]){
  width: 100%;
  box-sizing: border-box;
  padding: 14px 20px;
  margin: 5px 0;
  font-size: 0.9rem;
  border: 1px solid #dfdfdf;
}

.formWrapper input[type=button]{
  border: none;
  margin-top: 50px;
  width: 100%;
  color: white;
  padding: 14px 20px;
  background-color: #5f9ea0;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 228px);
  width: 456px;
}
.formWrapper #findIdForm .findIdBtn:hover{
  opacity: .8;
  transition: .3s;
}

/* 아이디찾기 결과 */
.showResult{
	font-size: 1.2rem;
	font-weight: bold;
}

/* 학생 교수 toggle button */
.switch-field{
	line-height: 34px;
    font-size: 1.0rem;
    text-align: left;
    display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
	font-weight: bold;
	color: black;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

