@charset "UTF-8";

.mypageContainer{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 1000px;
	top: 130px;
}
.mypageContainer h1{
	text-align: center;
}
#mypageTable{	
	border-collapse: collapse;
	width: 600px;
	margin: 40px auto 0;
    border-top: 8px double grey;
    border-bottom: 8px double grey;
}

#mypageTable th{
	width: 200px;
	text-align: right;
	font-size: 1.1rem;
}

#mypageTable td{
	border: none;
	width: 300px;
	border-bottom: 1px solid lightgrey;
}

#mypageTable th, td{
	padding: 20px;
}

.chgPwBtn{
	border: none;
	padding: 10px;
	cursor: pointer;
}
/* 수정 버튼 */

.btnContainer{
	text-align: center;
	margin-top: 80px;
}

.btnContainer input[type="button"], input[type="submit"]{
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

/* 우편번호 찾기 버튼*/
.addrBtn{
	border: none;
	border-radius: 10%;
	box-shadow: 1px 1px 2px lightgrey;
	font-size: 0.8rem;
	padding: 5px;
	margin-left: 3px;
	cursor: pointer;
}

@media only screen and (max-width: 1350px){
	.mainContainer {
    	height: auto;
	}
}
