@charset "UTF-8";
.timetableContainer{
    height: 1300px;
    width: 1400px;
    position: relative;
    left: calc(50% - 700px);
}

.timetableContainer h1{
    width: 100%;
    text-align: center;
    margin-top: 160px;
}

/* table */
.timetableContainer table{
	border-collapse: collapse;
    width: 1000px;
    margin: 80px auto;
    border-right: 1px solid lightgrey;
    text-align: center;
}

.timetableContainer table th,td {	
	border: 1px solid lightgrey;	
}

.timetableContainer table td{
	height: 100px;
}

.timetableContainer th{
	text-transform: uppercase;	
}

.timetableContainer thead .tb_th{
	background: cadetblue;
	color: white;
	border: none;
	width: 180px;
	height: 50px;
	border-right: 1px solid cadetblue;
}
.timetableContainer tbody th {
	height: 50px;	
}
.timetableContainer tbody #lunch{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
 	background: repeating-linear-gradient(-45deg, #444, #444 10px, #888 0, #888 20px);
 	color: white;
 	word-spacing: 20px;
}

.timetableContainer .top-col { border-top: none; }

/* 과목 css */
.place{
	font-size:0.8rem;
}
.english{
	background: lightpink;
}
.modern{
	background:aliceblue;
}
.programming{
	background: darkseagreen;
}
.read{
	background: violet;
}
.global{
	background: burlywood;
}
.math{
	background: turquoise;
}
/* 시간표 info */
.info{
	display: inline-block;
    position: absolute;
    animation: move-time 2s;
    animation-timing-function: ease-out;
    top: 100px;
    left: -20px;
    font-size: 0.8rem;
    background: #ffffff;
    padding: 30px;
    border: 8px double #c3a89c;
}

.info_accent{
	font-weight: bold;
	font-size: 0.9rem;
	margin-right: 10px;
}

.time{
	text-align: right;
    display: inline-block;
    width: 80px;
}

@keyframes move-time{
	0%{		
		top: -30px;		
	}
	70%{
		top: 120px; 
	}
	100%{
		top: 100px;
	}
}