@charset "UTF-8";


.chooseContainer {
  width: 1200px;
  margin: 0 auto;
  height: 700px;
}

.btnContainer{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}
.btnContainer .btn{
   background-color: #c31a1a;
   color: white;
   padding: 1em 1.5em;
   border-radius: 3px;
   text-decoration: none;
   width: 150px;
   text-align: center;
   margin: 280px auto;
   font-size: 1.1rem;
   cursor: pointer;
}


/* 팝업 예약창*/
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: .3s;
}

/* Modal Content */
.modal-content {
  width: 800px;
  height: 600px;
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}
.modal-title{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* 좌석 배치 */
.seatContainer{
  margin: 0 auto;
  padding: 0 100px;
}
#seat1{
  /* width: 600px; */
  height: 300px;
  border: 2px solid lightgrey;
  margin-bottom: 40px;
  padding: 20px;
}
#seat1 .seat{
  width: 8%;
}
#seat2{
  width: 600px;
  height: 300px;
  border: 1px solid black;
  margin-bottom: 40px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
/* 체크박스 지우기 */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
/* 체크박스 css */
.seat {
  width: 30px;
  height: 30px;
}

.clicked {
    background-color: red;
    color: white;
}
/* 예약하기 버튼 + 설명 */
.btnBtn{ border: none; padding: 15px; position: relative;
    top: 20px; cursor: pointer;
    font-size: 0.9rem;
    border-radius: 10%;
    background: cadetblue;
    color: white;
   }
.btnBtn:hover{ opacity: .8; transition: .2s; }
.seatContainer pre{
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: 80px;
}

/* 조회 - 예약확인 */
.showWrap{
	width: 300px;
	margin: 0 auto;
}
.showWrap .showContent{
	position: absolute;
    top: calc(50% - 200px);
}
.showWrap .showContent h2{
	width:300px;
}
.showWrap .showContent table{
	width: 300px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px 0;
}
.showWrap .showContent .popupBtn{
	border: none;
	width: 300px;
	padding: 20px 10px;
	margin: 50px auto 0;
	font-size: 1rem;
	cursor: pointer;
	background: cadetblue;
	color: white;
}
.showWrap .showContent .popupBtn:hover{
	opacity: .8;
	transition: .3s;
}


/* footer */
.footer{
  bottom: 0;
}


@media only screen and (max-width: 1350px){
	.mainContainer {
	    height: auto;
	}
}